.input_label {
    padding-bottom: 10px;
}

.bible_passage_input_label {
    padding-bottom: 10px;
    font-size: x-large;
    color: black;
}

.input_group {
    background-color: var(--mantine-color-gray-7);
    border-radius: 5%;
    height: 400px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
}

.bible_passage_group{
    background-color: var(--mantine-primary-color-6);
    border-radius: 5%;
    height: 400px;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: bold;
}
