.header {
    margin-bottom: 120px;
    background-color: var(--mantine-primary-color-5);
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    color: black;
    font-weight: bold;
  }
  
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }